body {
    background-color: #f9fcff;
}

.top_bar {
    width: 100%;
    min-width: 150px;
    height: 60px;
    background-color: #0044ff;
    margin: 0 0 15px 0;
    display: inline-flex;
    color: rgb(0, 0, 0);
    z-index: 10;
    position: fixed;
}

#nav_bar_profile_pic {
    width: 30px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

#nav_bar_profile {
    float: right;
    margin: 10px;
    display: inline-flex;
    width: 250px;
}

#nav_bar_profile i {
    margin-left: 10px;
    padding-top: 10px;
}

#nav_bar_profile_link {
    text-decoration: none;
}

#top_bar_title {
    margin-left: 50px;
}

.top_bar_links {
    margin-left: 30px;
    font-size: 25px;
}

.top_bar_links i {
    margin: 0px 5px 0px 10px;
}

.top_bar {
    text-align: left;
    align-content: flex-start;
}

#toggle {
    display: none;
}

.top_bar label {
    margin: 0 40px 0 0;
    font-size: 26;
    line-height: 70px;
    display: none;
    background-color: #0044ff;
    border-style: none;
}

#menu {
    width: 100%;
    padding-top: 10px;
}

@media only screen and (max-width: 1350px) {
    .top_bar label {
        display: block;
        cursor: pointer;
    }
    #menu {
        width: 250px;
        font-size: 15px;
        display: none;
    }
    #menu span {
        display: block;
        margin-bottom: 10px;
        padding-bottom: 5px;
    }
    #menu i {
        display: none;
    }
    #toggle:checked+#menu {
        padding-top: 0px;
        display: block;
        background-color: rgb(144, 187, 252);
        height: fit-content;
        margin-top: 60px;
        position: absolute;
        border: 1px solid black;
    }
    .top_bar_links {
        font-size: 15px;
        border-top: solid 1px black;
        padding-top: 10px;
    }
    #top_bar_links_app_name {
        display: none !important;
    }
    #nav_bar_profile {
        float: right;
        margin: 10px;
        display: inline-flex;
    }
    #first_top_bar_link {
        border-top: none;
    }
}

.top_bar h3 {
    font-family: 'Roboto', sans-serif;
    padding: 10px 10px 0 10px;
}

.logo a {
    text-decoration: none;
}

.nav {
    float: right;
    right: 1px;
    position: absolute;
    margin: 10px 20px 10px 10px;
    font-size: 20px;
}

.wrapper {
    margin: 0 auto;
    position: relative;
    padding: 0 10px;
    width: 90%;
    min-width: 950px;
}

#main_column {
    background-color: #c2ddff;
    box-shadow: 2px 2px 2px #69b2ff;
    margin-bottom: 10px;
    margin-right: 200px;
}

.column {
    margin-top: 20px;
    background-color: #c2ddff;
    padding: 10px;
    border-left: 1px solid #69b2ff;
    border-top: 1px solid #69b2ff;
    border-radius: 5px;
    box-shadow: 2px 2px 1px #69b2ff;
}

.user_details {
    width: 300px;
    float: left;
    margin: 20px 0 20px 0;
}

.main_column {
    float: right;
    width: 70%;
    z-index: -1;
    min-height: 160px;
}

.post_form {
    width: 100%;
}

.post_form textarea {
    width: 81%;
    height: 60px;
    border-radius: 3px;
    border: 3px solid #d3d3dd;
    font-size: 12px;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    height: 125px;
}

.post_form input[type="submit"]:active {
    /*when the button is clicked*/
    padding: 5px 4px 4px 5px;
}

#sign-out-button {
    color: black;
}

#sign-out-button:hover {
    color: white;
}

#main_form span {
    font-weight: bold;
}

#main_form input {
    border-radius: 6px;
}

#main_form input:focus {
    outline: 0;
}

#main_form .row {
    margin: 10px 0 10px 0;
}

#main_form h3 {
    margin-left: 160px;
}

.container h3 {
    text-align: center;
    width: 80%;
    margin: 5px 0 25px 75px;
}

#cardio_training .row {
    margin-left: 50px;
}

#cardio_training input {
    text-align: right;
    width: 30%;
    margin-bottom: 20px;
}

#weight_training input {
    width: 40%;
    text-align: center;
}

.body_part_title {
    font-size: 20px;
    margin-left: 50px;
}

#textarea_training {
    margin-top: 20px;
}

.col-3 {
    width: 100%;
}

#post_button {
    width: 100%;
    height: 50px;
    text-align: left;
    color: white;
    box-shadow: rgb(0, 162, 255);
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    margin-top: 30px;
}

a {
    color: black;
}

a:hover {
    color: white;
}

#day_of_training input {
    text-align: right;
    font-size: 17px;
}

#day_of_training input::-webkit-inner-spin-button {
    display: none;
}


/* Best Performances PHP */

#best_performances_div {
    margin-bottom: 50px;
    margin-top: 50px;
    border-radius: 20px;
    background-color: #c2ddff;
    font-weight: bold;
    box-shadow: 2px 2px 1px #69b2ff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-bottom: 20px;
    border-left: 1px solid #69b2ff;
}

#best_performances_titles {
    margin-bottom: 50px;
    font-size: 25px;
    padding-bottom: 30px;
    background-color: rgb(0, 99, 248);
    padding-top: 20;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.best_training {
    text-align: left;
    padding-left: 100px;
}

.best_performances_training_names {
    text-align: left;
    margin-left: 100px;
}

.best_performances_training_values {
    text-align: left;
    margin-left: 150px;
}

.best_performances {
    background-color: white;
}

input[type='file'] {
    opacity: 0;
}

label {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    height: 20px;
    margin-left: 5px;
}

label:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

#label_new_profile_pic {
    height: 40px;
}

#submit_new_profile_pic {
    margin-top: 30px;
    margin-left: 3px;
    padding-bottom: 10px;
}


/* Profile.php */

#profile {
    height: 30px;
    margin: 15px 0 15px 5px;
}

#profile_title {
    text-align: center;
    margin-bottom: 25px;
}

#profile_pic {
    text-align: center;
}

#profile_pic input,
label {
    margin-right: 20px;
}

#profile_pic img {
    width: 280px;
    height: 310px;
}

.profile {
    width: 320;
    height: 480px;
    margin-top: 50px;
}

#profile_user_info {
    text-align: center;
}

#profile_user_info_edit {
    text-align: center;
}

#profile_user_info_email {
    margin-top: 10px;
}

#profile_user_info_age input {
    text-align: right;
}

#profile_user_info_age input::-webkit-inner-spin-button {
    display: none;
}

#profile_user_info_email input {
    width: 200px;
    text-align: center;
}

#profile_user_info_nationality input {
    text-align: center;
}

#profile_user_info_phone_number input {
    text-align: center;
}

#profile_user_info_phone_number input::-webkit-inner-spin-button {
    display: none;
}

#profile_user_search_friend ul {
    background-color: white;
    border-left: 1px solid lightblue;
    border-bottom: 1px solid lightblue;
    cursor: pointer;
    padding: 0;
    margin-left: 20px;
    width: 225px;
}

#profile_user_search_friend li {
    list-style-type: none;
    padding: 10px 0 10px 10px;
}

#profile_user_search_friend li:hover {
    background-color: #0044ff;
}

.profile_user_search_image {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

#search_user_input {
    margin-left: 20px;
    width: 225px;
}

.search_friend_anchor:hover {
    text-decoration: none;
}

.search_friend_anchor {
    width: 100%;
}

#profile_search_friend_title {
    text-align: center;
    margin-bottom: 10px;
}

#profile_search_friend_div {
    height: 200px;
}

#profile_friends_list_div {
    height: 230px;
    text-align: left;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 3px;
}

.profile_friend_friends_list {
    margin: 5px 0px 5px 5px;
}

.column_in_friend_friends_list {
    padding-bottom: 5px;
}

#profile_friends_list_div .col-sm-3 {
    padding-left: 0;
}

#profile_userFriend_list_div {
    height: 300px;
    overflow-x: hidden;
    overflow-x: auto;
    text-align: left;
}

#profile_friends_list .col-sm-9:hover {
    background-color: #255efd;
}

#profile_friends_list a {
    text-align: left;
    padding-right: 8px;
}

#profile_friends_list_title {
    text-align: center;
    margin-bottom: 20px;
}

.add_to_friends_button {
    margin-left: 20px;
}

.remove_from_friends_button {
    margin-left: 20px;
}

.profile_user_friend_list_image {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.profile_friends_list {
    font-size: 20px;
}

.profile_user_friend_message {
    padding-top: 10px;
    cursor: pointer;
}

.profile_user_friend_message:hover {
    background-color: #c2ddff;
}

#profile_user_message_column {
    max-width: 320px;
    margin-right: 45px;
    margin-left: 15px;
}

#username_list {
    height: 150px;
    width: fit-content;
    overflow-x: hidden;
    overflow-x: auto;
    text-align: left;
}

#message_box {
    background-color: white;
    height: 270px;
    width: 250px;
    margin-left: 15px;
    border-radius: 10px;
    -webkit-box-shadow: 6px 6px 5px 0px rgba(74, 124, 224, 1);
    -moz-box-shadow: 6px 6px 5px 0px rgba(74, 124, 224, 1);
    box-shadow: 6px 6px 5px 0px rgba(74, 124, 224, 1);
    overflow-x: hidden;
    overflow-x: auto;
    padding-top: 5px;
    max-width: 250px;
}

.user_loggen_in_messages {
    background-color: #69b2ff;
    width: fit-content;
    margin: 3px 10px 3px 10px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}

.user_logged_in_messages_from_friend {
    background-color: #fd6e6e;
    width: fit-content;
    margin: 3px 10px 3px 80px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

#messages_input {
    position: absolute;
    bottom: 40;
    left: 25;
}

#messages_input_text {
    width: 200px;
    height: 55px;
    resize: none;
    font-size: 13px;
    padding-bottom: 0;
    -webkit-box-shadow: 6px 6px 5px 0px rgba(74, 124, 224, 1);
    -moz-box-shadow: 6px 6px 5px 0px rgba(74, 124, 224, 1);
    box-shadow: 6px 6px 5px 0px rgba(74, 124, 224, 1);
    align-content: flex-start;
}

#messages_input_button {
    margin-left: 20px;
    margin-bottom: 50px;
}

#profile_back_button {
    position: absolute;
    bottom: 10;
    right: 125;
    width: 20%;
}

#friend_profile_back_button {
    position: absolute;
    right: 170;
    bottom: 38;
    width: 17%;
}

#messages_input textarea {
    border-style: none;
    border-radius: 5px;
}

#user_friend_profile_pic {
    z-index: 100;
}